faiss-cpu==1.14.3
boto3==1.43.34
python-dotenv==1.2.2
fastapi==0.138.0
uvicorn==0.49.0
openai==2.43.0
langgraph==1.0.5
langchain[google-genai]==1.2.1
langchain-xai==1.2.1
langchain-core==1.2.6
langchain-openai==1.1.6
langchain-community==0.4.1
langchain-text-splitters==1.1.0
python-telegram-bot==22.8
beautifulsoup4==4.15.0
tiktoken==0.13.0
