faiss-cpu
boto3
fastapi
uvicorn
openai
langgraph
langchain
langchain-xai
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
langchain[google-genai]
python-telegram-bot
beautifulsoup4
tiktoken
openai
